.firsttitle{    
    color: #1eff9e;
    padding: 100px;
    font-family: Sans-Serif;
    text-align: center;
}

.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }

.bigrose {
    color: rosybrown;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }

  div.container {
    width: 100%;
    height: 713px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    background-color: lightblue;
    margin: 0;
  }
  div.header {
    font-family: 'Courgette',cursive;
    background-color: lightgoldenrodyellow;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px; 
    width: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
  div.contenu {
    font-family: 'Courgette',cursive;
    background-color: white;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin: 0.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: white;
    border-radius: 2;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
  a:link, a:visited, a:focus {
    background: white;
    color: grey;
  }
  
  a:hover {
    background: white;
    color: black;
  }