  .mainContainer {
    width: 100%;
    height: 100%;
    grid-gap: 5px;
    background-color: white;
    margin: 0;
  }
  .header {
    font-family: 'Courgette',cursive;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    height: 60px; 
    width: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
  .nameAppli{
    font-size: 2em;
    color: black;
    user-select: none;
  }
  .wrapper{
    font-family: 'Courgette',cursive;
    background-color: white;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  a {
    outline: none;
    text-decoration: none;
    display: flex;
    width: 23%;
    height: 10%;
    /* padding-top: 10px; */
    margin: 0;
    margin-right: 0.625%;
    text-align: center;
    font-size: large;
    color: white;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-radius: 2;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
  a:link, a:visited, a:focus {
    background: white;
    color: grey;
  }
  
  a:hover {
    background: white;
    color: black;
  }
  .icon{
    margin-right: 15px;
    font-size: x-large;
    color: black;
   
  }