.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* --------------------------------Added--------------- */
div.container {
  /* position: absolute; */
  width: 100%;
  height: 713px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  background-color: whitesmoke;
  margin: 0;
}
div.profil {
  font-family: 'Courgette',cursive;
  background-color: linen;
  width: fit-content;
  height: 100%; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
}
div.listeAssos {
  font-family: 'Courgette',cursive;
  background-color: linen;
  width: 100%;
  height: 100%; 
  margin: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
}
div.photo {
  background-color: transparent;
  margin-left: 20px;
  margin-right: 20px;
}

/* --------------------------------Added--------------- */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
